# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Tool/Debug/cl.command.1.tlog
Tool/Debug/tool_sys.obj
Tool/Debug/Tool.log
Tool/Debug/tool_string.obj
Tool/Debug/tool_time.obj
Tool/Debug/Tool.lib
Tool/Debug/tool_utils.obj
Tool/Debug/vc110.idb
Tool/Debug/vc110.pdb
Tool/ReadMe.txt
Tool/Release/CL.read.1.tlog
Tool/Release/cl.command.1.tlog
Tool/Release/CL.write.1.tlog
Tool/Release/Lib-link.read.1.tlog
Tool/Debug/Tool.lastbuildstate
Tool/Release/lib.command.1.tlog
Tool/Debug/Lib-link.write.1.tlog
Tool/Debug/lib.command.1.tlog
Tool/Debug/Lib-link.read.1.tlog
Tool/Debug/Tool.Build.CppClean.log
Tool/Release/Lib-link.write.1.tlog
Tool/Release/Tool.Build.CppClean.log
Tool/Release/Tool.lastbuildstate
Tool/Release/Tool.lib
Tool/Release/Tool.log
Tool/Release/tool_string.obj
Tool/Release/tool_sys.obj
Tool/Release/tool_time.obj
Tool/Release/tool_utils.obj
Tool/Release/vc110.pdb
Tool/Tool.sdf
Tool/Tool.v11.suo
Tool/Tool.vcxproj.filters
Tool/Tool.vcxproj.user
Tool/Debug/CL.write.1.tlog
Tool/Debug/CL.read.1.tlog
*.pdb
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.opensdf
*.sdf
libmemcached/Debug/libmemcached.lib
libmemcached/Release/libmemcached.lib
Mogui/Debug/Mogui.lib
Mogui/Release/Mogui.lib