# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Tool/Debug/cl.command.1.tlog
Tool/Debug/tool_sys.obj
Tool/Debug/Tool.log
Tool/Debug/tool_string.obj
Tool/Debug/tool_time.obj
Tool/Debug/Tool.lib
Tool/Debug/tool_utils.obj
Tool/Debug/vc110.idb
Tool/Debug/vc110.pdb
Tool/ReadMe.txt
Tool/Release/CL.read.1.tlog
Tool/Release/cl.command.1.tlog
Tool/Release/CL.write.1.tlog
Tool/Release/Lib-link.read.1.tlog
Tool/Debug/Tool.lastbuildstate
Tool/Release/lib.command.1.tlog
Tool/Debug/Lib-link.write.1.tlog
Tool/Debug/lib.command.1.tlog
Tool/Debug/Lib-link.read.1.tlog
Tool/Debug/Tool.Build.CppClean.log
Tool/Release/Lib-link.write.1.tlog
Tool/Release/Tool.Build.CppClean.log
Tool/Release/Tool.lastbuildstate
Tool/Release/Tool.lib
Tool/Release/Tool.log
Tool/Release/tool_string.obj
Tool/Release/tool_sys.obj
Tool/Release/tool_time.obj
Tool/Release/tool_utils.obj
Tool/Release/vc110.pdb
Tool/Tool.sdf
Tool/Tool.v11.suo
Tool/Tool.vcxproj.filters
Tool/Tool.vcxproj.user
Tool/Debug/CL.write.1.tlog
Tool/Debug/CL.read.1.tlog
*.pdb
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.opensdf
*.sdf
libmemcached/Debug/libmemcached.lib
libmemcached/Release/libmemcached.lib
Mogui/Debug/Mogui.lib
Mogui/Release/Mogui.lib
Mogui/Mogui.v11.suo
libmemcached/libmemcached.v11.suo
Libs/Memcached.lib
Libs/MemcachedD.lib
Libs/Mogui.lib
Libs/MoguiD.lib
Libs/Tool.lib
Libs/ToolD.lib
Server/FlashPolicy/Debug/FlashPolicy.exe
Server/FlashPolicy/Debug/FlashPolicy.ilk
libmemcached/libmemcached.v12.suo
Mogui/Mogui.v12.suo
Tool/Tool.v12.suo
Server/FlashPolicy/FlashPolicy.v12.suo
Mogui/Mogui.vcxproj.filters
Server/RZRQServer/RZRQServer.vcxproj.filters
Server/RZRQServer/RZRQServer.v12.suo
Server/RZRQServer/Release/RZRQServer.exe
Server/FlashPolicy/Release/FlashPolicy.exe
Server/RZRQServer/Debug/RZRQServer.exe.intermediate.manifest
Server/FlashPolicy/Debug/FlashPolicy 2010.unsuccessfulbuild
Server/FlashPolicy/Debug/FlashPolicy.exe.embed.manifest
Server/FlashPolicy/Debug/FlashPolicy.exe.intermediate.manifest
Server/FlashPolicy/Debug/FlashPolicy.exe.embed.manifest.res
Server/FlashPolicy/ipch/flashpolicy 2010-c77c0a1a/flashpolicy 2010-259ae7ad.ipch
Test2013/Debug/Test_Time.ilk
Test2013/Test2013.v12.suo
Test2013/Test2013/Test2013.vcxproj.filters
*.manifest
Test2013/Test_Time/Debug/Test_Time.exe.embed.manifest.res
Test2013/Test_Time/Debug/Test_Time_manifest.rc
Test2013/Test_Time/Test_Time.vcxproj.filters
*.ipch
Tool/Debug/Tool 2010.lib
Server/FlashPolicy/Debug/FlashPolicy_manifest.rc
Server/FlashPolicy/FlashPolicy.sln
Server/FlashPolicy/FlashPolicy.sln
Test2013/Debug/Test_Time.exe
Test2013/Test2013.sln
Test2013/Test_C11C14/Debug/Test_C11C14.unsuccessfulbuild
Test2013/Debug/Test_C11C14.exe
Test2013/Debug/Test_C11C14.ilk
Test2013/Test_C11C14/Test_C11C14.vcxproj.filters
Server/BaseServer/RZRQServer.v12.suo
Server/BaseServer/Debug/RZRQServer.exe.embed.manifest.res
Server/BaseServer/Debug/RZRQServer.unsuccessfulbuild
Server/BaseServer/Debug/RZRQServer_manifest.rc
Server/BaseServer/RZRQServer.sln